html, body{
	font-family: "Cabin", sans-serif;
}

h1,h2,h3,h4{
	/*font-family: "Alfa Slab One", condensed;*/
	text-transform: uppercase;
}	
hr.shortline{
	border-width: 2px;
	margin: 12px calc(50% - 25px);
	border-color: #333;
}
section{
	padding: 10px 0;
}

p.trainer-name{
	line-height: 2;
	font-size: 1.7em;
}

nav.navbar.navbar-default{
	background-color: #37474f;
	border: none;
} 

.navbar.navbar-default .nav.navbar-nav li a, .navbar.navbar-default .nav.navbar-nav li a, .navbar.navbar-default .navbar-header a{
	color: white;
}

.navbar.navbar-default .nav.navbar-nav li:hover, .navbar.navbar-default .nav.navbar-nav li.active{
	background-color: white;
}

.navbar.navbar-default .nav.navbar-nav li:hover a, .navbar.navbar-default .nav.navbar-nav li.active a{
	color: #37474f;
}

.center-align{
	text-align: center;
}
.right-align{
	text-align: right;
}
.justify-align{
	text-align: justify;
}
div.shortline{
	width: 30px;
	height: 4px;
	background-color: #000;
}
.panel.panel-default.people{
	border: none;
	box-shadow: none;
}
.panel.panel-default.people .panel-body img{
	transition: 229ms;
	box-shadow: 0 0px 0px 0 rgba(0,0,0,.4);
}
.panel.panel-default.people .panel-body img:hover{
	transform: scale(1.1);
	box-shadow: 0 4px 4px 0 rgba(0,0,0,.4);
}
.panel.panel-default.course-panel .panel-image{
	overflow: hidden;
	height: 250px;

}
.panel.panel-default.course-panel .panel-body{
	text-align: left;

}
.fl-left{
	float: left;
	margin : 0 5px;
}
.fl-right{
	float: right;
}

p.comment{
	font-size: 1.4em;
}

p.icon-med .material-icons{
	font-size: 4em;
}


#main-banner{
	background-image: url("../img/cover-head.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	color: white;
	padding: calc(50vh - 66px) 0 ;
}

#main-banner h1{
	/*color: #37474f;*/
}

#slider-testimonial{
	padding: 40px 0;
}

#statistic p{
	line-height: .5em;
}

#statistic p.count{
	font-size: 2em;
	color: #546e7a;
}

#about-us{
	background-color: #EDEDED;

}

#testimonial{
	background-color: #EDEDED;
}

#get-in-touch{
	background-color: #0277bd;
	color: white;
	padding: 50px 0;
}

#get-in-touch a{
	/*background-color: white;*/
	color: #80d8ff;
}

#get-in-touch a button.btn.btn-default{
	border: none;
	transform: scale(1.3);
	position: relative;
	top: 10px;
	transition: 229ms;
	box-shadow: 0 0 0 0 #01579b;
}
#get-in-touch a button.btn.btn-default:hover{
	box-shadow: 0 5px 0 0 #01579b;
	transform: translateY(-5px) scale(1.3);
}

#deskripsi{
	padding-left: 30px ;
}

#nav-top{


}

.carousel .carousel-control{
	background-image: none;
	color: #37474f;
	opacity: 0;
	transition: 229ms;
}

.carousel:hover .carousel-control{
	opacity: 1;
}

.carousel .carousel-control:hover{
	/*transform: scale(1.2);*/
}

.carousel .carousel-control.left:hover{
	transform: translateX(-10px);
}
.carousel .carousel-control.right:hover{
	transform: translateX(10px);
}

.carousel-indicators{
	position: relative;
	top: 6px;
}
.carousel-indicators li{
	border-color: #333;

}
.carousel-indicators li.active{
	background-color: gray;
}

footer{
	padding: 50px 0;
	background-color: #37474f;
	color: white;
}

footer ul li{
	list-style-type: none;
	margin-left: -35px;
}

/*.jumbotron h1{
	font-size: em;
}*/